<% include ../partials/header %>
<% include ../partials/department-sidebar %>
<% include ../partials/department-navbar %>
<% include ../partials/loadTablePartial %>

<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
              <h2>Student Information</h2>
                <div class="card">
                    <div class="card-header" data-background-color="purple">
                        <h4 class="title">Student Achievements / Awards</h4>
                        <p class="category">information about students participating in events and winning awrds.</p>
                    </div>
                    <div class="card-content table-responsive">
                        <table class="table">
                            <thead class="text-primary">
                                <th>Student Name</th>
                                <th>Event Name</th>
                                <th>Date</th>
                                <th>Place</th>
                                <th>Award</th>
                                <th>Category</th>
                                <th>Type</th>
                            </thead>
                            <tbody>
                                <% loadInTableModular('student_achievement', updatePermission)%>
                            </tbody>
                        </table>
                    </div>
                    <a href = "/department/generateexcel/1/2/?departmentId=<%-GetParam%>">
                    <button class="btn btn-primary pull-left" style="margin:13px">Generate Excel file</button>
                    </a>
                <button class="btn btn-primary pull-right  insertButton" data-toggle="modal" data-target="#myModalModular" style="margin:13px" onclick="fillDataModularInsert('student_achievement')">Insert</button>                </div>
                <div class="card">
                    <div class="card-header" data-background-color="purple">
                        <h4 class="title">Student Activities</h4>
                        <p class="category">information about student activities.</p>
                    </div>
                    <div class="card-content table-responsive">
                        <table class="table">
                            <thead class="text-primary">
                                <th>Student Name</th>
                                <th>Event Name</th>
                                <th>Date</th>
                                <th>Industry / Organization</th>
                                <th>Category</th>
                                <th>Type</th>
                            </thead>
                            <tbody>
                                <% loadInTableModular('student_activities', updatePermission)%>
                            </tbody>
                        </table>
                    </div>
                   <a href = "/department/generateexcel/2/2/?departmentId=<%-GetParam%>">
                    <button class="btn btn-primary pull-left" style="margin:13px">Generate Excel file</button>
                    </a>
                <button class="btn btn-primary pull-right insertButton" data-toggle="modal" data-target="#myModalModular" style="margin:13px" onclick="fillDataModularInsert('student_activities')">Insert</button>
              </div>
                <div class="card">
                    <div class="card-header" data-background-color="purple">
                        <h4 class="title">Student Publications</h4>
                        <p class="category">information about student publications.</p>
                    </div>
                    <div class="card-content table-responsive">
                        <table class="table">
                            <thead class="text-primary">
                                <th>Authors</th>
                                <th>Title</th>
                                <th>Date</th>
                                <th>Conference / Journal</th>
                                <th>Place</th>
                            </thead>
                            <tbody>
                                <% loadInTableModular('student_publication', updatePermission)%>
                            </tbody>
                        </table>
                    </div>
                    <a href = "/department/generateexcel/3/2/?departmentId=<%-GetParam%>">
                    <button class="btn btn-primary pull-left" style="margin:13px">Generate Excel file</button>
                    </a>
                <button class="btn btn-primary pull-right  insertButton" data-toggle="modal" data-target="#myModalModular" style="margin:13px" onclick="fillDataModularInsert('student_publication')">Insert</button>
              </div>
              <!-- table change 4 -->
              <div class="card">
                  <div class="card-header" data-background-color="purple">
                      <h4 class="title">Student Conference Publications</h4>
                      <p class="category">information about student conference publications.</p>
                  </div>
                  <div class="card-content table-responsive">
                      <table class="table">
                          <thead class="text-primary">
                              <th>Authors</th>
                              <th>Title</th>
                              <th>Conference Type</th>
                              <th>Organized By</th>
                              <th>Publisher</th>
                              <th>Year</th>
                          </thead>
                          <tbody>
                              <% loadInTableModular('student_conference_publications', updatePermission)%>
                          </tbody>
                      </table>
                  </div>
                  <a href = "/department/generateexcel/3/2/?departmentId=<%-GetParam%>">
                  <button class="btn btn-primary pull-left" style="margin:13px">Generate Excel file</button>
                  </a>
              <button class="btn btn-primary pull-right  insertButton" data-toggle="modal" data-target="#myModalModular" style="margin:13px" onclick="fillDataModularInsert('student_conference_publications')">Insert</button>
            </div>
            <div class="card">
                <div class="card-header" data-background-color="purple">
                    <h4 class="title">Student Journal Publications</h4>
                    <p class="category">information about student journal publications.</p>
                </div>
                <div class="card-content table-responsive">
                    <table class="table">
                        <thead class="text-primary">
                            <th>Authors</th>
                            <th>Title</th>
                            <th>ISSN Print</th>
                            <th>ISSN Online</th>
                            <th>Journal Name</th>
                            <th>Journal Type</th>
                            <th>Volume Numbers</th>
                            <th>Page Numbers</th>
                            <th>Year</th>
                            <th>Issue Number</th>
                            <th>Impact Factor</th>
                            <th>Citation</th>
                            <th>DOI</th>
                            <th>SJR Squartile</th>
                            <th>h Index</th>
                            <th>i Index</th>
                            <th>ISBN</th>
                            <th>Indexing</th>
                            <th>Date</th>
                        </thead>
                        <tbody>
                            <% loadInTableModular('student_journal_publications', updatePermission)%>
                        </tbody>
                    </table>
                </div>
                <a href = "/department/generateexcel/3/2/?departmentId=<%-GetParam%>">
                <button class="btn btn-primary pull-left" style="margin:13px">Generate Excel file</button>
                </a>
            <button class="btn btn-primary pull-right  insertButton" data-toggle="modal" data-target="#myModalModular" style="margin:13px" onclick="fillDataModularInsert('student_journal_publications')">Insert</button>
          </div>
          <div class="card">
              <div class="card-header" data-background-color="purple">
                  <h4 class="title">Higher Studies</h4>
                  <p class="category">information about higher studies.</p>
              </div>
              <div class="card-content table-responsive">
                  <table class="table">
                      <thead class="text-primary">
                          <th>Student Name</th>
                          <th>USN</th>
                          <th>Year Of Passing</th>
                          <th>Program</th>
                          <th>Course</th>
                      </thead>
                      <tbody>
                          <% loadInTableModular('higher_studies', updatePermission)%>
                      </tbody>
                  </table>
              </div>
              <a href = "/department/generateexcel/3/2/?departmentId=<%-GetParam%>">
              <button class="btn btn-primary pull-left" style="margin:13px">Generate Excel file</button>
              </a>
          <button class="btn btn-primary pull-right  insertButton" data-toggle="modal" data-target="#myModalModular" style="margin:13px" onclick="fillDataModularInsert('higher_studies')">Insert</button>
        </div>
            </div>
        </div>
    </div>
</div>

<% include ../partials/disable-buttons %>
<% include ../partials/footer %>
