<% include ../partials/header %>
<% include ../partials/faculty-sidebar %>
<% include ../partials/faculty-navbar %>
<% include ../partials/loadTablePartial %>

<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
              <h2>Achievement Details</h2>
                <div class="card">
                    <div class="card-header" data-background-color="purple">
                        <h4 class="title">Workshop FDP</h4>
                        <p class="category">information about workshops and FDPs attended.</p>
                    </div>
                    <div class="card-content table-responsive">
                        <table class="table">
                            <thead class="text-primary">
                                <th>Title</th>
                                <th>Sponsered / Funded</th>
                                <th>Date</th>
                                <th>Number of Participants</th>
                                <th>type</th>
                            </thead>
                            <tbody>
                                <% loadInTable(data.faculty_workshop_fdp) %>
                            </tbody>
                        </table>
                    </div>
                    <a href = "/faculty/generateexcel/<%- type %>/1">
                    <button class="btn btn-primary pull-left" style="margin:13px">Generate Excel file</button>
                    </a>
                    <button type="submit" class="btn btn-primary pull-right" style="margin:13px">Edit</button>
                </div>
                <div class="card">
                    <div class="card-header" data-background-color="purple">
                        <h4 class="title">Conference Symposia</h4>
                        <p class="category">information about conferences and seminars attended.</p>
                    </div>
                    <div class="card-content table-responsive">
                        <table class="table">
                            <thead class="text-primary">
                                <th>Name of the Event</th>
                                <th>Place</th>
                                <th>Date</th>
                                <th>Invited / Deputed</th>
                                <th>Number of Papers Presented</th>
                            </thead>
                            <tbody>
                                <% loadInTable(data.faculty_conference_symposia) %>
                            </tbody>
                        </table>
                    </div>
                    <a href = "/faculty/generateexcel/<%- type %>/2">
                    <button class="btn btn-primary pull-left" style="margin:13px">Generate Excel file</button>
                    </a>
                    <button type="submit" class="btn btn-primary pull-right" style="margin:13px">Edit</button>
                </div>
                <div class="card">
                    <div class="card-header" data-background-color="purple">
                        <h4 class="title">Guest Lectures</h4>
                        <p class="category">information about lectures given as a guest lecture outside college.</p>
                    </div>
                    <div class="card-content table-responsive">
                        <table class="table">
                            <thead class="text-primary">
                                <th>Invited Place</th>
                                <th>Title</th>
                                <th>Date</th>
                            </thead>
                            <tbody>
                                <% loadInTable(data.faculty_guest_lecture) %>
                            </tbody>
                        </table>
                    </div>
                    <a href = "/faculty/generateexcel/<%- type %>/3">
                    <button class="btn btn-primary pull-left" style="margin:13px">Generate Excel file</button>
                    </a>
                    <button type="submit" class="btn btn-primary pull-right" style="margin:13px">Edit</button>
                </div>
              <h2>Book and Chapter Publications</h2>
                <div class="card">
                  <div class="card-header" data-background-color="purple">
                      <h4 class="title">Books</h4>
                      <p class="category">information about books published.</p>
                  </div>
                  <div class="card-content table-responsive">
                      <table class="table">
                          <thead class="text-primary">
                              <th>Title</th>
                              <th>Authors</th>
                              <th>Publisher</th>
                              <th>Year</th>
                          </thead>
                          <tbody>
                              <% loadInTable(data.book) %>
                          </tbody>
                      </table>
                  </div>
                  <a href = "/faculty/generateexcel/<%- type %>/4">
                  <button class="btn btn-primary pull-left" style="margin:13px">Generate Excel file</button>
                  </a>
                  <button type="submit" class="btn btn-primary pull-right" style="margin:13px">Edit</button>
                </div>
                <div class="card">
                  <div class="card-header" data-background-color="purple">
                      <h4 class="title">Book Chapters</h4>
                      <p class="category">information about chapters written in books.</p>
                  </div>
                  <div class="card-content table-responsive">
                      <table class="table">
                          <thead class="text-primary">
                              <th>Chapter Name</th>
                              <th>Book Name</th>
                              <th>Authors</th>
                              <th>Publisher</th>
                              <th>Year</th>
                          </thead>
                          <tbody>
                              <% loadInTable(data.book_chapter) %>
                          </tbody>
                      </table>
                  </div>
                  <a href = "/faculty/generateexcel/<%- type %>/5">
                  <button class="btn btn-primary pull-left" style="margin:13px">Generate Excel file</button>
                  </a>
                  <button type="submit" class="btn btn-primary pull-right" style="margin:13px">Edit</button>
                </div>
              <h2>Paper Publications</h2>
                <div class="card">
                <div class="card-header" data-background-color="purple">
                    <h4 class="title">Conference Publications</h4>
                    <p class="category">information about papers presented in conferences.</p>
                </div>
                <div class="card-content table-responsive">
                    <table class="table">
                        <thead class="text-primary">
                            <th>Authors</th>
                            <th>Title</th>
                            <th>Conference Name</th>
                            <th>Conference Type</th>
                            <th>Organized By</th>
                            <th>Year</th>
                        </thead>
                        <tbody>
                            <% loadInTable(data.conference_paper) %>
                        </tbody>
                    </table>
                </div>
                <a href = "/faculty/generateexcel/<%- type %>/6">
                <button class="btn btn-primary pull-left" style="margin:13px">Generate Excel file</button>
                </a>
                <button type="submit" class="btn btn-primary pull-right" style="margin:13px">Edit</button>
              </div>
                <div class="card">
                  <div class="card-header" data-background-color="purple">
                      <h4 class="title">Journal Publications</h4>
                      <p class="category">information about papers presented in journals.</p>
                  </div>
                  <div class="card-content table-responsive">
                      <table class="table">
                          <thead class="text-primary">
                              <th>Authors</th>
                              <th>Title</th>
                              <th>ISSN</th>
                              <th>Journal Name</th>
                              <th>Journal Type</th>
                              <th>Volume Number</th>
                              <th>Page Numbers</th>
                              <th>Year</th>
                              <th>SJR Quartile</th>
                          </thead>
                          <tbody>
                              <% loadInTable(data.journal_paper) %>
                          </tbody>
                      </table>
                  </div>
                  <a href = "/faculty/generateexcel/<%- type %>/7">
                  <button class="btn btn-primary pull-left" style="margin:13px">Generate Excel file</button>
                  </a>
                  <button type="submit" class="btn btn-primary pull-right" style="margin:13px">Edit</button>
              </div>
            </div>
        </div>
    </div>
</div>

<% include ../partials/footer %>
